@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NexusThuis</title>
    <link rel="stylesheet" href="~/css/Signup.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
</head>
<body>
    <div id="login">
        <h1> Create Account </h1>
        <form id="signupform" asp-controller="Home" asp-action="Signup" method="POST">
            <input name="name" type="text" placeholder="Name">
            <input name="email" type="email" placeholder="Email">
            <input id="password" name="password" type="password" placeholder="Password">
            <input id='confirmpassword' name="ConfirmPassword" type="password" placeholder="Confirm Password">
            <input name="vcode" type="text" placeholder="Landlord Code">
            <button type="submit"> Sign up </button>
            <a asp-controller="Home" asp-action="Signup"> Don't you have an account? </a>
        </form>
    </div>
    
    <script src="~/js/signup.js"></script>

</body>
</html>