html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #e8ebf2;
    margin: 0;
    height: 100vh;
    overflow-y: auto; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.page-title {
    font-size: 2rem;
    font-weight: 600;
    color: #111;
    margin-bottom: 20px;
    text-align: center;
}


.auth-card {
    background: #ffffff;
    width: 500px;           /* širší */
    padding: 24px 32px;
    border-radius: 16px;
    box-shadow: 0 12px 30px rgba(0,0,0,0.1);
    border: 1px solid rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.auth-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}


.auth-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;
}


.auth-label {
    font-size: 0.85rem;
    font-weight: 500;
    color: #333;
}


.auth-input {
    width: 80%;
    padding: 12px 16px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 0.95rem;
    outline: none;
    text-align: center; 
}

.auth-input::placeholder {
    color: #999;
}

.auth-input:focus {
    border-color: #3BA9D4;
    box-shadow: 0 0 0 1px rgba(59,169,212,0.5);
}


.auth-btn {
    margin-top: 8px;
    width: 50%;
    padding: 12px;
    border-radius: 999px;
    border: none;
    background: #3BA9D4;
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.15s ease;
}

.auth-btn:hover {
    background: #39b5ac;
}


.auth-switch {
    margin-top: 12px;
    font-size: 0.9rem;
    color: #555;
}

.auth-link {
    color: #3BA9D4;
    text-decoration: none;
    font-weight: 500;
}

.auth-link:hover {
    text-decoration: underline;
}
