body{
    background-color: rgba(224, 224, 237, 0.342);
    margin: 0;
}

#login{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Nunito';
}

#login h1{
    font-size: 2.5rem;
    align-self: center;
    margin: 0;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
    flex: 2;
    box-sizing: border-box;
    margin-top: 2rem;
}

form input{
    height: 2.75rem;
    width: 18rem;
    border-radius: 10px;
    font-family: 'Nunito';
    box-sizing: border-box;
    border: 1px solid rgb(207, 207, 207);
    padding-left: 1rem;
    box-shadow: 0px 0px 5px rgba(160, 160, 160, 0.571);
}

form input:focus{
    outline: none;
    border: 2px solid rgba(156, 154, 154, 0.632);
}

form a{
    text-decoration: none;
    color: rgb(110, 108, 166)
}

form button{
    background-color: rgb(243, 130, 0);
    color: white;
    font-family: 'Nunito';
    font-size: 1.15rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.75rem;
    width: 18rem;
    border-radius:10px;
    border: none;
    box-sizing: border-box;
}